html {
	font-family: "Karla", sans-serif;
	background-image: url(bg.png);
	margin: 5vw 5vw 0px 5vw;
	cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAaCAMAAABigZc2AAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFpJREFUeNp9jUEOwEAIAhn+/+imjbs1bC0XzQioSUAAYZs0mcVY051RbGXfFsyxibTVHXhuhXYlbuRGPbe7kz3g0wf679OuizDBdCaberLE4AsjGliD02eNugA+MQFAPqynHQAAAABJRU5ErkJggg==),auto;
}

h1 {
	font-size: 2.75em;
}

a {
	text-decoration: none;
}

.content p{
	line-height: 1.5;
}

.subtitle {
	font-size: 1.2em;
}

.code{
	font-family: "Source Code Pro", monospace;
	color: rgb(255,0,30);
}

#intro {
	font-size: 1.5em;
}

.content {
	border: 2px solid black;
  	border-radius: 0.25vmin;
  	padding: 1vmin;
}